* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* Evita scroll horizontal */
  overflow-y: hidden; /* Evita scroll vertical */
  width: 100%;
  height: 100%;
}

#home {
  text-align: center;
  padding: 6rem 2rem;
  background: white;
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: var(--shadow);
  position: relative;
  max-width: 90vw;
  height: calc(100vh - 60px); /* Ajusta la altura para evitar scroll */
  overflow: hidden;
}

.profile-photo {
  width: 40vh;
  height: 55vh;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
  position: relative;
  left: -10vw;
  top: 5vh;
}

p {
  max-width: 80vw;
  font-size: 1.2rem;
  line-height: 1.5;
  color: black !important;
  margin: 1rem auto;
  animation: fadeIn 1s ease-out;
  position: relative;
  left: 10vw;
  top: -39vh; /* Se eliminó -35vh para evitar desbordamiento */
}

.profile-photo:hover {
  transform: scale(1.1);
}

#home h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--secondary-color);
  animation: fadeIn 1s ease-out;
}

#home p {
  font-size: 1.2rem;
  color: #7f8c8d;
  max-width: 600px;
  margin: 0 auto;
  animation: fadeIn 1.5s ease-out;
}
