#experience {
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh; /* Altura del contenedor principal */
  overflow-y: auto; /* Habilitar scroll vertical */
}

#experience h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--gradient);
  left: 50%;
  margin-left: -2px;
}

.job-container {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.job-container.left {
  left: 0;
}

.job-container.right {
  left: 50%;
}

.job {
  background: var(--background-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.job:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.job h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.1rem;
  transform: translate(0px, 1rem);
}

.job-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.job-info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #7f8c8d;
}

.responsibilities {
  margin-left: 1.5rem;
}

.responsibilities li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.responsibilities li::before {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.responsibilities li:hover {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.responsibilities li:hover::before {
  background: var(--secondary-color);
  transition: background 0.3s ease;
}

.job-container.left::after,
.job-container.right::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  border: 4px solid var(--primary-color);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.job-container.left::after {
  right: -10px;
}

.job-container.right::after {
  left: -10px;
}